body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.question {
    margin-bottom: 15px;
    text-align: left;
}

.question label {
    display: block;
    margin-bottom: 5px;
}

.question input {
    width: calc(100% - 10px);
    padding: 5px;
}

button {
    background-color: #ffb300;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #fcbb52;
}

.hidden {
    display: none;
}
